:root {
  --color-primary: #ffbf00;
  --color-text: #f9f9f9;
  --color-label: #aaaaaa;
  --color-disabled: #888888;

  --length-sm1: 0.3rem;
  --length-sm2: 0.6rem;
  --length-sm3: 0.8rem;

  --length-md1: 1rem;
  --length-md2: 1.4rem;
  --length-md3: 1.8rem;

  --length-lg1: 2.2rem;
  --length-lg2: 3.3rem;
  --length-lg3: 4.4rem;

  --length-xl1: 6.5rem;
  --length-xl2: 8.5rem;
  --length-xl3: 10.5rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  width: 100vw;
}

header {
  width: 100vw;
}

h1 {
  color: var(--color-primary);
  font-family: 'Sora', sans-serif;
}

.main{
  height: 100%;
  width: 100%;
  background-color: #565151;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 1400px) {
  .main {
    /* height: 100vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

input{
  display: grid;
  grid-column: span 4;
  height: 6.25rem;
  width: 16.25rem;
  border: none;
  border-radius: 40px;
  background: black;

  font-size: xx-large;
  color: white;

  text-align: end;
}

.calculator{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  /* border: 1px solid #565151; */
  border-radius: 0.125rem;
  padding: 0.7rem;
  height: 28.125rem;
  border-radius: 1.7rem;
  background: black;
  box-shadow: 0px -2px 5px 0px #5a5a5a, 0px 2px 5px 2px black;
}

button{
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  font-size: x-large;
}

.first
{
    background: rgb(167 177 223);
    border-radius: 3.5rem;
}

.symbol
{
    background: var(--color-primary);
    border-radius: 3.5rem;
}

.numbers {
  border-radius: 3.5rem;
}

button:active
{
    background: rgb(144, 144, 199);
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: var(--length-lg2);
  height: 100%;
  background: var(--color-card);
  color: var(--color-primary);s
}

.sidebar .uil {
  font-size: var(--length-md3);
  cursor: pointer;
}

@media only screen and (min-width: 821px) {
  .sidebar {
    display: flex;
  }
}

.sidebar-top,
.sidebar-bottom {
  display: grid;
  place-items: center;
  height: var(--length-lg3);
}
